@import "tailwindcss";


@layer base {
  .hoverEffect{
    @apply transition-all duration-300 ease-in-out
  }
  .input-product-thems{
    @apply border rounded-lg bg-[#101011] text-white focus:border-green-300 focus:outline-none
  }
  .input-profile-thems{
    @apply border rounded-sm bg-[#101011] text-white focus:border-pink-500! focus:outline-none
  }
body{
  @apply bg-[#0f0f10] text-[#fff]
}
}
